<?xml version="1.0"?>
<config version="11.0.0" urldb="paloaltonetworks" detail-version="11.0.2">
  <mgt-config>
    <users>
      <entry name="admin">
        <phash>$1$mnfqhdae$EMNXtLRm4zuEDzpL.Qysz/</phash>
        <permissions>
          <role-based>
            <superuser>yes</superuser>
          </role-based>
        </permissions>
      </entry>
    </users>
    <password-complexity>
      <enabled>yes</enabled>
      <minimum-length>8</minimum-length>
    </password-complexity>
  </mgt-config>
  <shared>
    <application/>
    <application-group/>
    <service/>
    <service-group/>
    <botnet>
      <configuration>
        <http>
          <dynamic-dns>
            <enabled>yes</enabled>
            <threshold>5</threshold>
          </dynamic-dns>
          <malware-sites>
            <enabled>yes</enabled>
            <threshold>5</threshold>
          </malware-sites>
          <recent-domains>
            <enabled>yes</enabled>
            <threshold>5</threshold>
          </recent-domains>
          <ip-domains>
            <enabled>yes</enabled>
            <threshold>10</threshold>
          </ip-domains>
          <executables-from-unknown-sites>
            <enabled>yes</enabled>
            <threshold>5</threshold>
          </executables-from-unknown-sites>
        </http>
        <other-applications>
          <irc>yes</irc>
        </other-applications>
        <unknown-applications>
          <unknown-tcp>
            <destinations-per-hour>10</destinations-per-hour>
            <sessions-per-hour>10</sessions-per-hour>
            <session-length>
              <maximum-bytes>100</maximum-bytes>
              <minimum-bytes>50</minimum-bytes>
            </session-length>
          </unknown-tcp>
          <unknown-udp>
            <destinations-per-hour>10</destinations-per-hour>
            <sessions-per-hour>10</sessions-per-hour>
            <session-length>
              <maximum-bytes>100</maximum-bytes>
              <minimum-bytes>50</minimum-bytes>
            </session-length>
          </unknown-udp>
        </unknown-applications>
      </configuration>
      <report>
        <topn>100</topn>
        <scheduled>yes</scheduled>
      </report>
    </botnet>
    <log-settings>
      <syslog>
        <entry name="Splunk">
          <server>
            <entry name="Splunk">
              <transport>TCP</transport>
              <port>514</port>
              <format>BSD</format>
              <server>172.20.242.20</server>
              <facility>LOG_USER</facility>
            </entry>
          </server>
        </entry>
      </syslog>
    </log-settings>
  </shared>
  <devices>
    <entry name="localhost.localdomain">
      <network>
        <interface>
          <ethernet>
            <entry name="ethernet1/1">
              <layer3>
                <ndp-proxy>
                  <enabled>no</enabled>
                </ndp-proxy>
                <ip>
                  <entry name="172.16.101.254/24"/>
                </ip>
                <lldp>
                  <enable>no</enable>
                </lldp>
                <sdwan-link-settings>
                  <upstream-nat>
                    <enable>no</enable>
                    <static-ip/>
                  </upstream-nat>
                  <enable>no</enable>
                </sdwan-link-settings>
                <interface-management-profile>traffic</interface-management-profile>
              </layer3>
              <comment>External</comment>
            </entry>
            <entry name="ethernet1/2">
              <layer3>
                <ndp-proxy>
                  <enabled>no</enabled>
                </ndp-proxy>
                <ip>
                  <entry name="172.20.242.254/24"/>
                </ip>
                <lldp>
                  <enable>no</enable>
                </lldp>
                <sdwan-link-settings>
                  <upstream-nat>
                    <enable>no</enable>
                    <static-ip/>
                  </upstream-nat>
                  <enable>no</enable>
                </sdwan-link-settings>
                <interface-management-profile>traffic</interface-management-profile>
              </layer3>
              <comment>Internal</comment>
            </entry>
          </ethernet>
        </interface>
        <profiles>
          <monitor-profile>
            <entry name="default">
              <interval>3</interval>
              <threshold>5</threshold>
              <action>wait-recover</action>
            </entry>
          </monitor-profile>
          <interface-management-profile>
            <entry name="traffic">
              <http>yes</http>
              <https>yes</https>
              <http-ocsp>yes</http-ocsp>
              <ssh>yes</ssh>
              <snmp>yes</snmp>
              <userid-service>yes</userid-service>
              <userid-syslog-listener-ssl>yes</userid-syslog-listener-ssl>
              <userid-syslog-listener-udp>yes</userid-syslog-listener-udp>
              <ping>yes</ping>
              <response-pages>yes</response-pages>
              <telnet>yes</telnet>
              <permitted-ip>
                <entry name="0.0.0.0/0"/>
              </permitted-ip>
            </entry>
          </interface-management-profile>
          <zone-protection-profile>
            <entry name="zProt">
              <discard-overlapping-tcp-segment-mismatch>yes</discard-overlapping-tcp-segment-mismatch>
              <discard-unknown-option>yes</discard-unknown-option>
              <tcp-reject-non-syn>yes</tcp-reject-non-syn>
              <flood>
                <icmp>
                  <enable>yes</enable>
                </icmp>
                <udp>
                  <enable>yes</enable>
                </udp>
                <other-ip>
                  <enable>yes</enable>
                </other-ip>
                <icmpv6>
                  <enable>yes</enable>
                </icmpv6>
              </flood>
            </entry>
          </zone-protection-profile>
        </profiles>
        <ike>
          <crypto-profiles>
            <ike-crypto-profiles>
              <entry name="default">
                <encryption>
                  <member>aes-128-cbc</member>
                  <member>3des</member>
                </encryption>
                <hash>
                  <member>sha1</member>
                </hash>
                <dh-group>
                  <member>group2</member>
                </dh-group>
                <lifetime>
                  <hours>8</hours>
                </lifetime>
              </entry>
              <entry name="Suite-B-GCM-128">
                <encryption>
                  <member>aes-128-cbc</member>
                </encryption>
                <hash>
                  <member>sha256</member>
                </hash>
                <dh-group>
                  <member>group19</member>
                </dh-group>
                <lifetime>
                  <hours>8</hours>
                </lifetime>
              </entry>
              <entry name="Suite-B-GCM-256">
                <encryption>
                  <member>aes-256-cbc</member>
                </encryption>
                <hash>
                  <member>sha384</member>
                </hash>
                <dh-group>
                  <member>group20</member>
                </dh-group>
                <lifetime>
                  <hours>8</hours>
                </lifetime>
              </entry>
            </ike-crypto-profiles>
            <ipsec-crypto-profiles>
              <entry name="default">
                <esp>
                  <encryption>
                    <member>aes-128-cbc</member>
                    <member>3des</member>
                  </encryption>
                  <authentication>
                    <member>sha1</member>
                  </authentication>
                </esp>
                <dh-group>group2</dh-group>
                <lifetime>
                  <hours>1</hours>
                </lifetime>
              </entry>
              <entry name="Suite-B-GCM-128">
                <esp>
                  <encryption>
                    <member>aes-128-gcm</member>
                  </encryption>
                  <authentication>
                    <member>none</member>
                  </authentication>
                </esp>
                <dh-group>group19</dh-group>
                <lifetime>
                  <hours>1</hours>
                </lifetime>
              </entry>
              <entry name="Suite-B-GCM-256">
                <esp>
                  <encryption>
                    <member>aes-256-gcm</member>
                  </encryption>
                  <authentication>
                    <member>none</member>
                  </authentication>
                </esp>
                <dh-group>group20</dh-group>
                <lifetime>
                  <hours>1</hours>
                </lifetime>
              </entry>
            </ipsec-crypto-profiles>
            <global-protect-app-crypto-profiles>
              <entry name="default">
                <encryption>
                  <member>aes-128-cbc</member>
                </encryption>
                <authentication>
                  <member>sha1</member>
                </authentication>
              </entry>
            </global-protect-app-crypto-profiles>
          </crypto-profiles>
        </ike>
        <qos>
          <profile>
            <entry name="default">
              <class-bandwidth-type>
                <mbps>
                  <class>
                    <entry name="class1">
                      <priority>real-time</priority>
                    </entry>
                    <entry name="class2">
                      <priority>high</priority>
                    </entry>
                    <entry name="class3">
                      <priority>high</priority>
                    </entry>
                    <entry name="class4">
                      <priority>medium</priority>
                    </entry>
                    <entry name="class5">
                      <priority>medium</priority>
                    </entry>
                    <entry name="class6">
                      <priority>low</priority>
                    </entry>
                    <entry name="class7">
                      <priority>low</priority>
                    </entry>
                    <entry name="class8">
                      <priority>low</priority>
                    </entry>
                  </class>
                </mbps>
              </class-bandwidth-type>
            </entry>
          </profile>
        </qos>
        <virtual-router>
          <entry name="default">
            <protocol>
              <bgp>
                <enable>no</enable>
                <dampening-profile>
                  <entry name="default">
                    <cutoff>1.25</cutoff>
                    <reuse>0.5</reuse>
                    <max-hold-time>900</max-hold-time>
                    <decay-half-life-reachable>300</decay-half-life-reachable>
                    <decay-half-life-unreachable>900</decay-half-life-unreachable>
                    <enable>yes</enable>
                  </entry>
                </dampening-profile>
                <routing-options>
                  <graceful-restart>
                    <enable>yes</enable>
                  </graceful-restart>
                </routing-options>
              </bgp>
              <rip>
                <enable>no</enable>
              </rip>
              <ospf>
                <enable>no</enable>
              </ospf>
              <ospfv3>
                <enable>no</enable>
              </ospfv3>
            </protocol>
            <ecmp>
              <algorithm>
                <ip-modulo/>
              </algorithm>
            </ecmp>
            <routing-table>
              <ip>
                <static-route>
                  <entry name="default">
                    <path-monitor>
                      <enable>no</enable>
                      <failure-condition>any</failure-condition>
                      <hold-time>2</hold-time>
                    </path-monitor>
                    <nexthop>
                      <ip-address>172.16.101.1</ip-address>
                    </nexthop>
                    <bfd>
                      <profile>None</profile>
                    </bfd>
                    <interface>ethernet1/1</interface>
                    <metric>10</metric>
                    <destination>0.0.0.0/0</destination>
                    <route-table>
                      <unicast/>
                    </route-table>
                  </entry>
                </static-route>
              </ip>
            </routing-table>
            <interface>
              <member>ethernet1/1</member>
              <member>ethernet1/2</member>
            </interface>
          </entry>
        </virtual-router>
        <dhcp>
          <interface>
            <entry name="ethernet1/2">
              <server>
                <option>
                  <lease>
                    <timeout>1440</timeout>
                  </lease>
                  <gateway>172.20.242.254</gateway>
                </option>
                <mode>enabled</mode>
                <probe-ip>yes</probe-ip>
                <ip-pool>
                  <member>172.20.242.101-172.20.242.150</member>
                </ip-pool>
              </server>
            </entry>
          </interface>
        </dhcp>
      </network>
      <deviceconfig>
        <system>
          <type>
            <static/>
          </type>
          <update-server>updates.paloaltonetworks.com</update-server>
          <update-schedule>
            <threats>
              <recurring>
                <weekly>
                  <day-of-week>wednesday</day-of-week>
                  <at>01:02</at>
                  <action>download-only</action>
                </weekly>
              </recurring>
            </threats>
          </update-schedule>
          <timezone>US/Central</timezone>
          <service>
            <disable-telnet>yes</disable-telnet>
            <disable-http>yes</disable-http>
            <disable-snmp>yes</disable-snmp>
          </service>
          <hostname>PA-VM</hostname>
          <ip-address>172.20.242.150</ip-address>
          <netmask>255.255.255.0</netmask>
          <default-gateway>172.20.242.254</default-gateway>
          <device-telemetry>
            <device-health-performance>yes</device-health-performance>
            <product-usage>yes</product-usage>
            <threat-prevention>yes</threat-prevention>
            <region>Americas</region>
          </device-telemetry>
          <login-banner>Hi from Towson &lt;3</login-banner>
          <ack-login-banner>no</ack-login-banner>
        </system>
        <setting>
          <config>
            <rematch>yes</rematch>
          </config>
          <management>
            <hostname-type-in-syslog>FQDN</hostname-type-in-syslog>
            <auto-acquire-commit-lock>yes</auto-acquire-commit-lock>
            <enable-certificate-expiration-check>yes</enable-certificate-expiration-check>
          </management>
          <auto-mac-detect>yes</auto-mac-detect>
        </setting>
      </deviceconfig>
      <vsys>
        <entry name="vsys1">
          <application/>
          <application-group/>
          <zone>
            <entry name="external">
              <network>
                <layer3>
                  <member>ethernet1/1</member>
                </layer3>
                <zone-protection-profile>zProt</zone-protection-profile>
              </network>
            </entry>
            <entry name="internal">
              <network>
                <layer3>
                  <member>ethernet1/2</member>
                </layer3>
                <zone-protection-profile>zProt</zone-protection-profile>
              </network>
            </entry>
          </zone>
          <service>
            <entry name="Splunk8000">
              <protocol>
                <tcp>
                  <port>8000</port>
                  <override>
                    <no/>
                  </override>
                </tcp>
              </protocol>
            </entry>
            <entry name="Splunk8089">
              <protocol>
                <tcp>
                  <port>8089</port>
                </tcp>
              </protocol>
            </entry>
            <entry name="Splunk9997">
              <protocol>
                <tcp>
                  <port>9997</port>
                  <override>
                    <no/>
                  </override>
                </tcp>
              </protocol>
            </entry>
            <entry name="Splunk514">
              <protocol>
                <udp>
                  <port>514</port>
                  <override>
                    <no/>
                  </override>
                </udp>
              </protocol>
            </entry>
            <entry name="WebMailSMTP">
              <protocol>
                <tcp>
                  <port>25</port>
                </tcp>
              </protocol>
            </entry>
            <entry name="WebMailPOP3">
              <protocol>
                <tcp>
                  <port>110</port>
                </tcp>
              </protocol>
            </entry>
            <entry name="WebMailIMAP">
              <protocol>
                <tcp>
                  <port>143</port>
                </tcp>
              </protocol>
            </entry>
          </service>
          <service-group/>
          <schedule/>
          <rulebase>
            <nat>
              <rules>
                <entry name="ECom" uuid="4ff7e624-ad13-43ca-9953-8ed5fb33f42a">
                  <to>
                    <member>external</member>
                  </to>
                  <from>
                    <member>internal</member>
                  </from>
                  <source>
                    <member>172.20.242.30</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <service>any</service>
                  <source-translation>
                    <static-ip>
                      <translated-address>172.25.33.11</translated-address>
                      <bi-directional>yes</bi-directional>
                    </static-ip>
                  </source-translation>
                </entry>
                <entry name="Webmail" uuid="30529d1c-efe1-42dd-8d5f-6dae2ab5c2f6">
                  <source-translation>
                    <static-ip>
                      <translated-address>172.25.33.39</translated-address>
                      <bi-directional>yes</bi-directional>
                    </static-ip>
                  </source-translation>
                  <to>
                    <member>external</member>
                  </to>
                  <from>
                    <member>internal</member>
                  </from>
                  <source>
                    <member>172.20.242.40</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <service>any</service>
                </entry>
                <entry name="Splunk" uuid="938f6c28-6c3f-4824-ba3f-140f229737e6">
                  <source-translation>
                    <static-ip>
                      <translated-address>172.25.33.9</translated-address>
                      <bi-directional>yes</bi-directional>
                    </static-ip>
                  </source-translation>
                  <to>
                    <member>external</member>
                  </to>
                  <from>
                    <member>internal</member>
                  </from>
                  <source>
                    <member>172.20.242.20</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <service>any</service>
                </entry>
                <entry name="Default NAT" uuid="d6d0cad7-689e-4d21-bfb7-786b887ce70a">
                  <source-translation>
                    <dynamic-ip-and-port>
                      <translated-address>
                        <member>172.25.33.5</member>
                      </translated-address>
                    </dynamic-ip-and-port>
                  </source-translation>
                  <to>
                    <member>external</member>
                  </to>
                  <from>
                    <member>internal</member>
                  </from>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <service>any</service>
                </entry>
              </rules>
            </nat>
            <default-security-rules>
              <rules>
                <entry name="interzone-default" uuid="430f221a-d47b-4708-8253-d560837b8863">
                  <action>allow</action>
                  <log-start>no</log-start>
                  <log-end>no</log-end>
                </entry>
              </rules>
            </default-security-rules>
            <security>
              <rules>
                <entry name="AllowICMP" uuid="9a33956c-5472-4581-a7d2-f16e96cb488d">
                  <from>
                    <member>external</member>
                  </from>
                  <to>
                    <member>internal</member>
                  </to>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <application>
                    <member>icmp</member>
                    <member>ping</member>
                    <member>rping</member>
                  </application>
                  <service>
                    <member>application-default</member>
                  </service>
                  <action>allow</action>
                  <source-user>
                    <member>any</member>
                  </source-user>
                  <category>
                    <member>any</member>
                  </category>
                  <source-hip>
                    <member>any</member>
                  </source-hip>
                  <destination-hip>
                    <member>any</member>
                  </destination-hip>
                </entry>
                <entry name="AllowICMP out" uuid="1238cd42-b54f-4b16-a908-c39afb51e1b8">
                  <to>
                    <member>external</member>
                  </to>
                  <from>
                    <member>internal</member>
                  </from>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <source-user>
                    <member>any</member>
                  </source-user>
                  <category>
                    <member>any</member>
                  </category>
                  <application>
                    <member>icmp</member>
                    <member>ping</member>
                    <member>rping</member>
                  </application>
                  <service>
                    <member>application-default</member>
                  </service>
                  <source-hip>
                    <member>any</member>
                  </source-hip>
                  <destination-hip>
                    <member>any</member>
                  </destination-hip>
                  <action>allow</action>
                </entry>
                <entry name="KillReverse" uuid="9e5af24c-00aa-4c91-b162-c30ce40a96d3">
                  <from>
                    <member>internal</member>
                  </from>
                  <to>
                    <member>external</member>
                  </to>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>PrivIPBlock</member>
                  </destination>
                  <application>
                    <member>any</member>
                  </application>
                  <service>
                    <member>application-default</member>
                  </service>
                  <action>drop</action>
                  <disabled>no</disabled>
                </entry>
                <entry name="AllowNTP" uuid="b2c8e6fb-5405-416b-ab2f-88eab1c5e7ac">
                  <from>
                    <member>internal</member>
                  </from>
                  <to>
                    <member>external</member>
                  </to>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <application>
                    <member>ntp</member>
                  </application>
                  <service>
                    <member>application-default</member>
                  </service>
                  <action>allow</action>
                </entry>
                <entry name="AllowInternet" uuid="4763ccd4-035f-4498-adf1-83f1fe946e71">
                  <from>
                    <member>internal</member>
                  </from>
                  <to>
                    <member>external</member>
                  </to>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <application>
                    <member>any</member>
                  </application>
                  <service>
                    <member>service-http</member>
                    <member>service-https</member>
                  </service>
                  <action>allow</action>
                  <profile-setting>
                    <profiles>
                      <spyware>
                        <member>strict</member>
                      </spyware>
                      <virus>
                        <member>default</member>
                      </virus>
                      <vulnerability>
                        <member>default</member>
                      </vulnerability>
                    </profiles>
                  </profile-setting>
                </entry>
                <entry name="AllowDNSOutbound" uuid="234bbbe4-ebc3-4b0a-93a8-7767eef40f8d">
                  <from>
                    <member>internal</member>
                  </from>
                  <to>
                    <member>external</member>
                  </to>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <application>
                    <member>dns</member>
                  </application>
                  <service>
                    <member>application-default</member>
                  </service>
                  <action>allow</action>
                </entry>
                <entry name="AllowDNSInbound" uuid="ede7cab2-7288-4292-b40d-1048c6e62c7f">
                  <from>
                    <member>external</member>
                  </from>
                  <to>
                    <member>internal</member>
                  </to>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <application>
                    <member>dns</member>
                  </application>
                  <service>
                    <member>application-default</member>
                  </service>
                  <action>allow</action>
                </entry>
                <entry name="AllowHTTPSInbound" uuid="e73b2303-7aa7-4211-b7f4-fba679842831">
                  <from>
                    <member>external</member>
                  </from>
                  <to>
                    <member>internal</member>
                  </to>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>UEcomPublic</member>
                  </destination>
                  <application>
                    <member>any</member>
                  </application>
                  <service>
                    <member>service-http</member>
                    <member>service-https</member>
                  </service>
                  <action>allow</action>
                </entry>
                <entry name="AllowMailInbound" uuid="c03d194c-8988-4d9e-80dd-1a46293d395c">
                  <from>
                    <member>external</member>
                  </from>
                  <to>
                    <member>internal</member>
                  </to>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>FedWebmailPublic</member>
                  </destination>
                  <application>
                    <member>pop3</member>
                    <member>smtp</member>
                    <member>imap</member>
                  </application>
                  <service>
                    <member>WebMailPOP3</member>
                    <member>WebMailSMTP</member>
                    <member>WebMailIMAP</member>
                  </service>
                  <action>allow</action>
                </entry>
                <entry name="AllowSplunkOutToIN" uuid="8d6fa3de-06f9-45b5-a2e7-b0e55198e0a3">
                  <from>
                    <member>external</member>
                  </from>
                  <to>
                    <member>internal</member>
                  </to>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>SplunkPublic</member>
                  </destination>
                  <application>
                    <member>any</member>
                  </application>
                  <service>
                    <member>Splunk514</member>
                    <member>Splunk8000</member>
                    <member>Splunk8089</member>
                    <member>Splunk9997</member>
                  </service>
                  <action>allow</action>
                  <source-user>
                    <member>any</member>
                  </source-user>
                  <category>
                    <member>any</member>
                  </category>
                  <source-hip>
                    <member>any</member>
                  </source-hip>
                  <destination-hip>
                    <member>any</member>
                  </destination-hip>
                </entry>
                <entry name="AllowSplunkInToOut" uuid="38fbb44d-de3e-4370-a073-4c81d46c6b06">
                  <to>
                    <member>external</member>
                  </to>
                  <from>
                    <member>internal</member>
                  </from>
                  <source>
                    <member>SplunkPrivate</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <source-user>
                    <member>any</member>
                  </source-user>
                  <category>
                    <member>any</member>
                  </category>
                  <application>
                    <member>any</member>
                  </application>
                  <service>
                    <member>Splunk8000</member>
                    <member>Splunk8089</member>
                    <member>Splunk9997</member>
                  </service>
                  <source-hip>
                    <member>any</member>
                  </source-hip>
                  <destination-hip>
                    <member>any</member>
                  </destination-hip>
                  <action>allow</action>
                </entry>
                <entry name="AllowSplunkInternal" uuid="fcd4afbc-af6b-48ae-afc3-d1cb46598e93">
                  <from>
                    <member>internal</member>
                  </from>
                  <to>
                    <member>internal</member>
                  </to>
                  <source>
                    <member>SplunkPrivate</member>
                  </source>
                  <destination>
                    <member>SplunkPrivate</member>
                  </destination>
                  <application>
                    <member>any</member>
                  </application>
                  <service>
                    <member>Splunk514</member>
                    <member>Splunk8000</member>
                    <member>Splunk8089</member>
                    <member>Splunk9997</member>
                  </service>
                  <action>allow</action>
                </entry>
                <entry name="AllowEcommInternal" uuid="3aa47952-2e17-4f29-a8a5-a176f7ee36e9">
                  <from>
                    <member>internal</member>
                  </from>
                  <to>
                    <member>internal</member>
                  </to>
                  <source>
                    <member>UEcomPrivate</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <application>
                    <member>any</member>
                  </application>
                  <service>
                    <member>service-http</member>
                    <member>service-https</member>
                  </service>
                  <action>allow</action>
                </entry>
                <entry name="DenyOutDefault" uuid="31613938-bfbf-46dc-8db1-c40790d98f86">
                  <from>
                    <member>internal</member>
                  </from>
                  <to>
                    <member>external</member>
                  </to>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <application>
                    <member>any</member>
                  </application>
                  <service>
                    <member>any</member>
                  </service>
                  <action>deny</action>
                </entry>
                <entry name="DenyInDefault" uuid="2ae6571f-d7e0-4fc1-90d4-bbd88759dc25">
                  <from>
                    <member>external</member>
                  </from>
                  <to>
                    <member>internal</member>
                  </to>
                  <source>
                    <member>any</member>
                  </source>
                  <destination>
                    <member>any</member>
                  </destination>
                  <application>
                    <member>any</member>
                  </application>
                  <service>
                    <member>any</member>
                  </service>
                  <action>deny</action>
                </entry>
              </rules>
            </security>
          </rulebase>
          <import>
            <network>
              <interface>
                <member>ethernet1/1</member>
                <member>ethernet1/2</member>
              </interface>
            </network>
          </import>
          <address>
            <entry name="PrivIPBlock">
              <ip-netmask>10.0.0.0/8</ip-netmask>
            </entry>
            <entry name="UEcomPrivate">
              <ip-netmask>172.20.242.30</ip-netmask>
            </entry>
            <entry name="UEcomPublic">
              <ip-netmask>172.25.33.11</ip-netmask>
            </entry>
            <entry name="FedWebmailPrivate">
              <ip-netmask>172.20.242.40</ip-netmask>
            </entry>
            <entry name="FedWebmailPublic">
              <ip-netmask>172.25.33.39</ip-netmask>
            </entry>
            <entry name="SplunkPrivate">
              <ip-netmask>172.20.242.20</ip-netmask>
            </entry>
            <entry name="SplunkPublic">
              <ip-netmask>172.25.33.39</ip-netmask>
            </entry>
          </address>
        </entry>
      </vsys>
    </entry>
  </devices>
</config>
